@import '../globals';

$customPadding: 60px;

#section--page--main--content--media {
	background: url('media-bg.jpg') center center no-repeat;
	background-size: cover;
	
	@media #{$sm-min} {
		.section__title {
			> span:first-child {
				&:before {
					content: '|';
					margin-right: .5rem;
				}
			}
		}
	}
}

