@import '../globals';

#section--page--main--content--slogan {
	background: url('solar-roofs.jpg') center bottom no-repeat;
	background-size: cover;
	
	.section__title {
		@media #{$sm-min} {
			> span:first-child {
				&:before {
					content: '|';
					margin-right: .5rem;
				}
			}
		}
	}
}

