#section--page--main--top--intro--sliders .main__image{width:100%;object-fit:cover}@media (max-width: 767.98px){#section--page--main--top--intro--sliders .thumbnail__image{width:calc((100% - 30px) / 3)}}
